@font-face {
    font-family: 'Avenir Light';
    src: url('/js/FontsFree-Net-Avenir-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 900px;
    margin: 50px auto;
    background-color: white;
    font-family: "Avenir Light", sans-serif;
    
}

header {
    height: 60px;
    background-color: #B58A69;
    color: #BADA55;
    text-align: center;
    font-size: 24px;
}

nav {
    font-size: 18px;
    color: #000;
    text-align: center;
    font-family: "Avenir Light", sans-serif;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: #000;
}

nav a:hover {
    color: red;
}

@media (max-width: 650px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    nav li {
        display: block;
        margin: 10px 0;
    }
}

#sesion {
    display: flex;
    background-color: #DEE5DE;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: "Avenir Light", sans-serif;
    margin-left: 50px;
    margin-right: 30px;
}

#sesion-imagen img {
    width: 340px;
    height: 190px;
    margin-left: 20px;
}

aside {
    margin-top: 5px;
    font-size: 30px;
    color: #000;
    background-color: #D7D7CB;
    text-align: center;
    margin-left: 50px;
    margin-right: 30px;
}

#ver-mas {
    background-color: #5E5E4A;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

#sesion-texto {
    font-size: 16px;
    max-width: 60%;

}

#sesion-texto h2 {
    font-size: 24px;
    color: #000;
}

#sesion-texto p {
    text-align: justify;
    background-color: #DEE5DE;
    padding: 20px;
}



aside h2 {
    margin: 0;
}

aside section{
    height: 250px;
}
/**/
footer {
    font-size: 24px;
    color: #E8E6E6;
    background-color: #5E5E4A;
    text-align: center;
    margin-left: 50px;
    margin-right: 30px;
    margin-top: -25px;
    height: 40px;

}

#imagenes-flores {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#imagenes-flores img {
    width: 160px;
    height: 100px;
    margin: 10px;
}
