/* CSS for the background color */
.background-azul-claro {
    background-color: lightblue;
    max-width: fit-content;
    margin: 0 auto; /* Center the container horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit; /* Make the container fill the viewport height */
}

/* CSS for h1, h2, and p with dark blue text and centered alignment */
.azul-oscuro {
    color: darkblue;
    text-align: center;
}
img{
    justify-content: center;
}